extends layout

block content
    h4.display-4 Welcome
    .ex1
        ul
            each topic in rows
                li
                    a(href='/list/'+topic.id)= topic.title
    .ex2
        artcle
            if topic
                h2=topic.title
                =topic.description
                div= 'by '+ topic.author
            else
                h2 welcome
                | This is all of project list.
