body {
    /* FIXME: fixed top 때문인 padding-top을 반응형으로 바꿔줘야함 , 아닌가.. */
    padding-top:70px;
    max-width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff;
}

a {
    color: #00B7FF;
}

*, ::after, ::before {
    box-sizing: border-box;
}
