body {
    padding-top:70px;
    max-width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff;
}

a {
    color: #00B7FF;
}

*, ::after, ::before {
    box-sizing: border-box;
}
@media (max-width: 732px) {
    body {
        padding-top: 100px;
    }
}
